<ul class="nav-container">
  <li>
    <span
      ><img
        src="../../../../assets/images/logo-icon.png"
        height="20"
        width="20"
        alt=""
    /></span>
    Shakeer
  </li>
  <li>
    <span
      ><img
        src="../../../../assets/images/user.png"
        height="30"
        width="30"
        alt=""
    /></span>
    User
  </li>
  <li (click)="onNotificationClick()">
    <span><i class="fa-solid fa-envelope"></i></span>
    Notifications
  </li>
  <li (click)="logout()">
    <span><i class="fa-solid fa-arrow-right-from-bracket"></i></span>
    Logout
  </li>
</ul>
