.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../../../../assets/images/login-background.jpg");
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  .content {
    background-color: white;
    height: 450px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    .login-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .form-field {
        width: 200px;
        height: 70px;
      }
    }
    .login-button {
      width: 200px;
    }
  }
}



/* CSS */
.video-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.video-container {
  max-width: 800px;
  max-height: 80%;
  overflow: hidden;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
